<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css.map">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/public/js/main.js"></script>
    <title>COVID - 19</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">COVID19</a>
            </div>
            <ul class="nav justify-content-end">
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                <% } else{  %>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><%= currentUser.username  %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length>0){ %> 
        <div class="alert alert-danger"><%= error %> </div> 
        <% } %> 
        <% if(success && success.length>0){ %> 
        <div class="alert alert-success" role="success"><%= success %> </div> 
        <% } %> 

    </div>
