<%- include("partials/header"); -%>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Helpline page</h1>
    </div>
    <a href="/">Home</a>
    <hr>
    <a class="btn btn-lg btn-primary" href="/download" download> Download Helpline PDF </a>
</div>


<%- include ("partials/footer"); -%>