<%- include("partials/header"); -%>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome to the COVID 19 page</h1>
        </div>
        <div class = "row">
            <div class = "col-lg-3 col-md-3 col-sm-6">
                <div class="img-thumbnail" style="display: flex; flex-wrap: nowrap; flex-direction: column;">
                    <img src="https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 100%;">
                    <p class="text-center" style="margin-top: 15px;">
                        <a href="/posts" class="btn btn-danger">Blogs</a>
                    </p>        
                </div>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-6">
                <div class="img-thumbnail" style="display: flex; flex-wrap: nowrap; flex-direction: column;">
                    <img src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 100%;">
                    <p class="text-center" style="margin-top: 15px;">
                        <a href="/cases" class="btn btn-danger">Live Cases</a>
                    </p>        
                </div>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-6">
                <div class="img-thumbnail" style="display: flex; flex-wrap: nowrap; flex-direction: column;">
                    <img src="https://images.pexels.com/photos/210647/pexels-photo-210647.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 100%;">
                    <p class="text-center" style="margin-top: 15px;">
                        <a href="/helpline" class="btn btn-danger">Helpline </a>
                    </p>        
                </div>
            </div>
            <div class = "col-lg-3 col-md-3 col-sm-6">
                <div class="img-thumbnail" style="display: flex; flex-wrap: nowrap; flex-direction: column;">
                    <img src="https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 100%;">
                    <p class="text-center"  style="margin-top: 15px;">
                        <a href="/Contact" class="btn btn-danger">Contact</a>
                    </p>        
                </div>
            </div>
        </div>
    </div>
    
    
<%- include ("partials/footer"); -%>