<%- include("partials/header"); -%>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Register!</h1>
    </div>
    <a href="/">Home</a>

    <form action="/register" method="POST">
        <div class="input-group" style="width: 40%; margin: 25px auto;">
            <div class="input-group-prepend">
                <span class="input-group-text">UserName</span>
            </div>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="input-group" style="width: 40%; margin: 25px auto;">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group" style="width: 40%; margin: 10px auto;">
            <input type="submit" class="btn btn-primary">
        </div>

    </form>
</div>

<%- include ("partials/footer"); -%>